<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642836885080-hafk40togrt93q93rhug6d96196jbgei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642836885080-hafk40togrt93q93rhug6d96196jbgei</string>
	<key>API_KEY</key>
	<string>AIzaSyDZXm5uzHVG9VKN5qiaSdljSYjds9an7MY</string>
	<key>GCM_SENDER_ID</key>
	<string>642836885080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scottcolas.Kai</string>
	<key>PROJECT_ID</key>
	<string>kaimanagement-5965b</string>
	<key>STORAGE_BUCKET</key>
	<string>kaimanagement-5965b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642836885080:ios:6c6707eb8a1d1275fa642d</string>
</dict>
</plist>